{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zni o'zgartirish{% endblock title %}
{% block content %}
    <div class="container-fluid" style="width: 50rem">
        <h2>Kalit so'zni o'zgartirish</h2>
        <p>Avval eski kalit so'zni keyin esa yangi kalit so'zni ikki marotaba kiriting.</p>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="O'zgartirish">
            <a class="btn btn btn-outline-primary" href="{% url 'home' %}" role="button">Orqaga qaytish</a>
        </form>
    </div>
{% endblock content %}