{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Yangi post{% endblock title %}

{% block content %}
    <div class="container-fluid" style="width: 50rem">
        <h1>Yangi post</h1>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Saqlash</button>
            <a class="btn btn btn-outline-primary" href="{% url 'article_list' %}" role="button">Orqaga qaytish</a>
        </form>
    </div>
{% endblock content %}